html{
    width: 100%;
}

body{
    width: 100%;
    margin: auto;
    color:#232D36;
    display: flex;
    flex-direction: column;
}
header{
    margin-left: 8px;
    margin-right: 8px;
    flex: 1;
    background-color: #232D36;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main{
    flex: 8;
    padding-left: 8px;
    padding-right: 8px;
}
footer{
    flex: 1;
    display: flex;
}
ul{
    width: 20rem;
    padding-left: 16px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    color: #9DA2A8;
    size: 1.25rem;
}
a{
    color: #9DA2A8;
}
table{
    width: 100%;
}
td{
    border-style: solid 1px;
    color:  #232D36;
}
input{
    display: block;
    text-size-adjust: 1rem;
    height: 1.25;
    padding: 0.625rem;
    margin-bottom: 8px;
    
}
input[type="submit"]{
    background-color: #0DA698;
    border-style: solid 1px;
    border-color: #0DA698;
    border-radius: 0.325rem;
}
.ativo{
    color: #0DA698;
}